
                    <form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" style="font-size:12px;">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                    <td class="text-center">
                                        <a href="javascript:sort('order_sn');">订单编号</a>
                                    </td>
                                    <td class="text-center">商品名称</td>
                                    <td class="text-center">商品售价</td>
                                    <td class="text-center">商品成本价</td>
                                    <td class="text-center">商品数量</td>
                                    <td class="text-center">活动类型</td>
                                    <td class="text-center">收货人</td>
                                    <td class="text-center">收货状态</td>
                                    <td class="text-center">是否结算</td>
                                    <td class="text-center">店铺</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="ordergoodsList" id="list">
                                    <tr>
                                        <td class="text-center">
                                        	<input type="checkbox" name="selected[]" value="6">
                                        	<input type="hidden" name="shipping_code[]" value="flat.flat">
                                        </td>
                                        <td class="text-center">{$list.order_sn}</td>
                                        <td class="text-center">{$list.goods_name}</td>
                                        <td class="text-center">{$list.goods_price}</td>
                                        <td class="text-center">{$list.cost_price}</td>
                                        <td class="text-center">{$list.goods_num}</td>
                                        <td class="text-center">
                                            <if condition="$list['prom_type'] eq 0">
                                                普通订单
                                            <else/>
                                                活动订单
                                            </if>
                                        </td>
                                        <td class="text-center">{$list.consignee}:{$list.mobile}</td>
                                        <if condition="$list['confirm_time'] eq 0">
                                            <td class="text-center">暂未收货</td>
                                        <else/>
                                            <td class="text-center">{$list.confirm_time|date='Y-m-d H:i',###}</td>
                                        </if>

                                        <td class="text-center">
                                            <img width="20" height="20" src="__PUBLIC__/images/<if condition='$list[is_checkout] eq 1'>yes.png<else />cancel.png</if>" onclick="changeTableVal('order_goods','rec_id','{$list.rec_id}','is_checkout',this)"/>
                                        </td>
                                        <td>{$store_list[$list[store_id]]}</td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left"></div>
                        <div class="col-sm-6 text-right">{$page}</div>
                    </div>
<script>
    $(".pagination  a").click(function(){
        var page = $(this).data('p');
        ajax_get_table('search-form2',page);
    });
</script>